In [1]:
import pandas as pd
import numpy as np

In [2]:
file =pd.read_csv('F:datasets\\healthcare-dataset-stroke-data.csv')
df = file.copy()
df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3586,24961,Female,38.0,0,0,Yes,Private,Rural,107.78,25.1,never smoked,0
1700,5686,Male,35.0,0,0,Yes,Private,Urban,69.88,27.7,Unknown,0
3943,21333,Male,56.0,1,0,Yes,Private,Rural,206.66,21.9,smokes,0
1389,68235,Male,12.0,0,0,No,children,Rural,86.00,20.1,formerly smoked,0
1233,39823,Female,41.0,0,0,Yes,Govt_job,Rural,229.86,35.2,smokes,0
1062,61973,Female,80.0,1,1,Yes,Private,Rural,115.52,34.4,Unknown,0
4367,52247,Female,75.0,0,0,Yes,Govt_job,Urban,89.68,38.7,never smoked,0
1655,29385,Female,56.0,0,0,Yes,Private,Rural,222.60,40.1,smokes,0
2991,5780,Female,47.0,0,0,Yes,Private,Urban,74.63,45.3,never smoked,0
473,11838,Female,43.0,0,0,Yes,Govt_job,Rural,70.08,26.6,never smoked,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [4]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
bmi = df['bmi'].to_numpy().reshape(-1,1)
label = df['stroke']
df = df.drop(['id','stroke','bmi'],axis=1)
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
imputed_bmi = pd.DataFrame(imputer.fit_transform(bmi),columns=['bmi'])
df = pd.concat([df,imputed_bmi],axis=1)
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
smoking_status       0
bmi                  0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   smoking_status     5110 non-null   object
 9   bmi                5110 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 399.3+ KB

In [7]:
for i in df.columns :
    print(i)
    print(df[i].value_counts(ascending=False))

gender
Female    2994
Male      2115
Other        1
Name: gender, dtype: int64
age
78.00    102
57.00     95
52.00     90
54.00     87
51.00     86
        ...
1.40       3
0.48       3
0.16       3
0.40       2
0.08       2
Name: age, Length: 104, dtype: int64
hypertension
0    4612
1     498
Name: hypertension, dtype: int64
heart_disease
0    4834
1     276
Name: heart_disease, dtype: int64
ever_married
Yes    3353
No     1757
Name: ever_married, dtype: int64
work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64
Residence_type
Urban    2596
Rural    2514
Name: Residence_type, dtype: int64
avg_glucose_level
93.88     6
91.68     5
91.85     5
83.16     5
73.00     5
         ..
111.93    1
94.40     1
95.57     1
66.29     1
85.28     1
Name: avg_glucose_level, Length: 3979, dtype: int64
smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64
bmi
28.893237    201
28.700000     41
28.400000     38
27.600000     37
26.700000     37
            ...
11.500000      1
40.600000      1
53.900000      1
97.600000      1
14.900000      1
Name: bmi, Length: 419, dtype: int64

In [8]:
encoded_df = pd.get_dummies(df)
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             5110 non-null   float64
 1   hypertension                    5110 non-null   int64
 2   heart_disease                   5110 non-null   int64
 3   avg_glucose_level               5110 non-null   float64
 4   bmi                             5110 non-null   float64
 5   gender_Female                   5110 non-null   uint8
 6   gender_Male                     5110 non-null   uint8
 7   gender_Other                    5110 non-null   uint8
 8   ever_married_No                 5110 non-null   uint8
 9   ever_married_Yes                5110 non-null   uint8
 10  work_type_Govt_job              5110 non-null   uint8
 11  work_type_Never_worked          5110 non-null   uint8
 12  work_type_Private               5110 non-null   uint8
 13  work_type_Self-employed         5110 non-null   uint8
 14  work_type_children              5110 non-null   uint8
 15  Residence_type_Rural            5110 non-null   uint8
 16  Residence_type_Urban            5110 non-null   uint8
 17  smoking_status_Unknown          5110 non-null   uint8
 18  smoking_status_formerly smoked  5110 non-null   uint8
 19  smoking_status_never smoked     5110 non-null   uint8
 20  smoking_status_smokes           5110 non-null   uint8
dtypes: float64(3), int64(2), uint8(16)
memory usage: 279.6 KB

In [9]:
encoded_df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,...,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.585910,0.413894,0.000196,0.343836,0.656164,...,0.004305,0.572407,0.160274,0.134442,0.491977,0.508023,0.302153,0.173190,0.370254,0.154403
std,22.612647,0.296607,0.226063,45.283560,7.698018,0.492612,0.492578,0.013989,0.475034,0.475034,...,0.065480,0.494778,0.366896,0.341160,0.499985,0.499985,0.459236,0.378448,0.482920,0.361370
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.400000,1.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,32.800000,1.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(encoded_df),columns=encoded_df.columns)
scaled_df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.051434,-0.328602,4.185032,2.706375,1.001234e+00,-1.189510,1.189990,-0.01399,-0.723884,0.723884,...,-0.065756,0.864297,-0.436881,-0.394112,-0.984080,0.984080,-0.658011,2.184951,-0.766774,-0.427313
1,0.786070,-0.328602,-0.238947,2.121559,4.615554e-16,0.840682,-0.840343,-0.01399,-0.723884,0.723884,...,-0.065756,-1.157010,2.288955,-0.394112,1.016178,-1.016178,-0.658011,-0.457676,1.304165,-0.427313
2,1.626390,-0.328602,4.185032,-0.005028,4.685773e-01,-1.189510,1.189990,-0.01399,-0.723884,0.723884,...,-0.065756,0.864297,-0.436881,-0.394112,1.016178,-1.016178,-0.658011,-0.457676,1.304165,-0.427313
3,0.255342,-0.328602,-0.238947,1.437358,7.154182e-01,0.840682,-0.840343,-0.01399,-0.723884,0.723884,...,-0.065756,0.864297,-0.436881,-0.394112,-0.984080,0.984080,-0.658011,-0.457676,-0.766774,2.340204
4,1.582163,3.043196,-0.238947,1.501184,-6.357112e-01,0.840682,-0.840343,-0.01399,-0.723884,0.723884,...,-0.065756,-1.157010,2.288955,-0.394112,1.016178,-1.016178,-0.658011,-0.457676,1.304165,-0.427313

In [11]:
from sklearn.model_selection import train_test_split
xtr , xts , ytr ,yts = train_test_split(scaled_df,label,test_size=0.2,shuffle=True)
print('spliting done')

spliting done

In [12]:
from sklearn.svm import LinearSVC
alg = LinearSVC().fit(xtr,ytr)
alg.score(xtr,ytr)*100

C:\Users\pouria_z\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

95.00978473581213

In [13]:
alg.score(xts,yts)*100

95.59686888454011

In [14]:
alg.score(scaled_df,label)*100

95.12720156555773